.userscript-watch-button a
{
    background-color: var(--yt-spec-badge-chip-background);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userscript-watch-button a:hover
{
    background-color: var(--yt-spec-mono-tonal-hover);
    border-color: transparent;
}

.userscript-watch-button a svg
{
    display: block;
    width: 50%;
    height: 50%;
    color: var(--yt-spec-touch-response);
}